* {
  padding: 0;
  margin: 0;
}

.page-background {
  background-color: #333333;
}

/*----------------------------------------------------------*/
/* header*/
/*----------------------------------------------------------*/

.white-text {
  color: #f5f5fa;
}

/*----------------------------------------------------------*/
/* compare */
/*----------------------------------------------------------*/
.grow img {
  transition: 1s ease;
}

.grow img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}
