* {
  padding: 0;
  margin: 0;
}

.page-background {
  background-color: #333333;
}

.white-background {
  background-color: #f5f5fa;
}

li {
  padding: 1rem;
}

/*----------------------------------------------------------*/
/* header*/
/*----------------------------------------------------------*/
.white-text {
  color: #f5f5fa;
  text-decoration: none;
  padding: 1rem;
}

.li-active {
  border-bottom: solid 1px #f5f5fa;
}

/*----------------------------------------------------------*/
/* compare */
/*----------------------------------------------------------*/
.grow img {
  transition: 1s ease;
}

.grow img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
}

.container-resize {
  width: 90%;
}
