* {
  padding: 0;
  margin: 0;
}

/*----------------------------------------------------------*/
/* header*/
/*----------------------------------------------------------*/
header {
  height: 100vh;
  background-color: #333333;
}

.white-text {
  color: #f5f5fa;
}
