<!-- HOME.HTML -->
{% extends 'main/base.html' %}
{% load static %}

{% block title %}Home Page{% endblock %}
{% block loadcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">{% endblock %}

{% block content %}
<section id="community-pictures" class="blurred-peace-bridge-background" style="padding-top:200px;">
    <div class="container-fluid text-center">
        <div class="row align-items-center gx-5">
            <div class="col-md-6 col-xl-6">
                <h1 class="display-4 left-header">Bridgeland</h1>
                <div class="compare-image-container image-shadow">
                    <img class="image-disc-page image-left"
                        src="../../../media/images/sample_pics/bridgeland-sample.jpg" alt="">
                </div>
            </div>
            <div class=" col-md-6 col-xl-6">
                <h1 class="display-4 right-header">Inglewood</h1>
                <div class="compare-image-container image-shadow">
                    <img class="image-disc-page image-right"
                        src="../../../media/images/sample_pics/inglewood_sample.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- {% include "main/footer.html"%} -->

{% endblock %}