/*----------------------------------------------------------*/
/* tags*/
/*----------------------------------------------------------*/
li {
  padding: 1rem;
}

li > a {
  color: black;
  text-decoration: none;
}

li > a:hover {
  color: #fe0000;
}

/*----------------------------------------------------------*/
/* re-usable classes*/
/*----------------------------------------------------------*/
.blurred-peace-bridge-background {
  height: 92vh;
  padding: 0;
  margin: 0;

  /* background image */
  background-image: url("../../media/images/wallpaper/peace_bridge_blurred.jpg");
  background-position: center center;
  background-repeat: repeat-y;
  background-size: cover;
}

.white-background {
  background-color: rgba(245, 245, 250, 0.3);
}

.white-background-opaque {
  background-color: rgba(245, 245, 250);
}

.yellow-background {
  background-color: #faaf19;
}

.black-background {
  background-color: #111111;
}

.image-disc-page {
  height: 320px;
  width: 480px;
}

.image-padding {
  padding-top: 13rem;
}

.header-padding {
  padding-top: 8rem;
}

/*----------------------------------------------------------*/
/* header*/
/*----------------------------------------------------------*/
.white-text {
  color: #f5f5fa;
  text-decoration: none;
  padding: 1rem;
}

.li-active {
  border-bottom: solid 1px #f5f5fa;
}

.li-active:hover {
  border: 0px;
}

.nav-item > a {
  box-shadow: inset 0 0 0 0 #0c0c0f;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.nav-item > a:hover {
  color: #f5f5fa;
  box-shadow: inset 200px 0 0 0 #0c0c0f;
}

/*----------------------------------------------------------*/
/* community images */
/*----------------------------------------------------------*/
.image-shadow {
  transition: box-shadow 0.3s ease;
}

.image-shadow:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* hover effect */
.compare-image-container {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.compare-image-container:hover {
  transform: translateY(-10px);
}

/*----------------------------------------------------------*/
/* Footer */
/*----------------------------------------------------------*/
#site-footer {
  height: 8vh;
}

.github-icon {
  color: #f5f5fa;
  font-size: 36px;
}

/*----------------------------------------------------------*/
/* Media Queries */
/*----------------------------------------------------------*/
@media only screen and (max-width: 769px) {
  .image-padding {
    padding-top: 50px;
  }
}
